<!DOCTYPE html>
<html>

<head>
  <title>Iron Arachne</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Procedural generation tools for tabletop role-playing games.">
  <link rel="stylesheet" href="ironarachne.css" type="text/css">
</head>

<body>
  <section class="hero is-dark">
    <div class="hero-body">
      <figure class="image is-128x128 is-pulled-left">
        <img src="img/ia-logo-small.png" alt="Iron Arachne logo">
      </figure>
      <h1 class="title">Iron Arachne</h1>
      <h2 class="subtitle">Procedural Generation Tools for Tabletop Role-playing Games</h2>
    </div>
  </section>
  <div class="container" id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="index.html">Home</a>
        <a class="navbar-item" href="region.html">Region Generator</a>
        <a class="navbar-item" href="https://heraldry.ironarachne.com">Heraldry Generator</a>
      </div>
    </nav>
    <section class="section">
      <div class="columns">
        <div class="column content">
          <h2 class="title is-2">Region Generator</h4>
            <p><button class="button is-primary" v-on:click="generateRegion">Generate New Region</button></p>
            <h3 class="title is-3">The {{ region.Class.Name }} of {{ region.Name }}</h3>
            <p>The {{ region.Class.Name }} of {{ region.Name }} is ruled by {{ region.RulerTitle }}
              {{ region.Ruler.FirstName }} {{ region.Ruler.LastName }}. It's a {{ region.Biome }} region, and its
              capital is {{ region.Capital }}. </p>
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-320x420">
                    <img :src="heraldryUrl" class="image">
                    <p><em>{{ region.RulerBlazon }}</em></p>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title">{{ region.Ruler.FirstName }} {{ region.Ruler.LastName }}</p>
                  <p class="subtitle">{{ region.RulerTitle }} of {{ region.Name }}</p>
                  <p><strong>Race:</strong> {{ region.Ruler.Race.Name }}</p>
                  <p><strong>Gender:</strong> {{ region.Ruler.Gender }}</p>
                  <p><strong>Age:</strong> {{ region.Ruler.Age }} years ({{ region.Ruler.AgeCategory }})</p>
                  <p><strong>Height:</strong> {{ region.Ruler.Height }} in.</p>
                  <p><strong>Weight:</strong> {{ region.Ruler.Weight }} lbs.</p>
                  <p><strong>Hair:</strong> {{ region.Ruler.HairColor }} and {{ region.Ruler.HairStyle }}</p>
                  <p><strong>Eyes:</strong> {{ region.Ruler.EyeColor }}</p>
                  <p><strong>Hobby:</strong> {{ region.Ruler.Hobby }}</p>
                  <p><strong>Motivation:</strong> {{ region.Ruler.Motivation }}</p>
                  <p><strong>Traits: </strong> <span
                      v-for="(trait,index) in region.Ruler.PsychologicalTraits">{{ trait }}<span
                        v-if="index != region.Ruler.PsychologicalTraits.length - 1">, </span></span> </p>
                </div>
              </article>
            </div>
            <h4 class="title is-4">Notable Towns in {{ region.Name }}</h4>
            <div v-for="town in region.Towns" class="content">
              <h5 class="title is-5">{{ town.townName }}<span v-if="town.townName == region.Capital">, the capital and
                  {{ region.RulerTitle }} {{ region.Ruler.LastName }}'s home</span></h5>
              <p><strong>Population:</strong> {{ town.population }} ({{ town.category.name }})</p>
              <p><strong>Mayor:</strong> {{ town.mayor.FirstName }} {{ town.mayor.LastName }}, a
                {{ town.mayor.Age }}-year-old {{ town.mayor.Gender }} {{ town.mayor.Race.Name }} motivated by
                {{ town.mayor.Motivation }}</p>
              <div class="columns">
                <div class="column">
                  <h6 class="title is-6">Exports</h6>
                  <ul>
                    <li v-for="(amount, item) in town.exports">{{ item }}</li>
                  </ul>
                </div>
                <div class="column">
                  <h6 class="title is-6">Imports</h6>
                  <ul>
                    <li v-for="(amount, item) in town.imports">{{ item }}</li>
                  </ul>
                </div>
              </div>
            </div>
            <h4 class="title is-4">Notable Organizations in {{ region.Name }}</h4>
            <div v-for="organization in region.Organizations" class="content">
              <h5 class="title is-5">{{ organization.Name }}</h5>
              <p><strong>Type:</strong> {{ organization.Type.Name }}</p>
              <p><strong>Size:</strong> {{ organization.SizeClass.Name }}, with {{ organization.Size }} members</p>
              <p><strong>Primary Trait:</strong> {{ organization.PrimaryTrait }}</p>
            </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Iron Arachne</strong> is the ongoing project of
          <a href="https://benovermyer.com">Ben Overmyer</a>. You can find source code for most of these tools on
          GitHub at
          <a href="https://github.com/ironarachne/">github.com/ironarachne</a>.
        </p>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script>
    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
    var app = new Vue({
      el: '#app',
      data: {
        heraldryUrl: '',
        region: ''
      },
      methods: {
        generateRegion: function (event) {
          id = getRandomInt(1000000)
          url = 'https://regiongen.ironarachne.com/' + id
          this.heraldryUrl = url + '/heraldry.svg'

          fetch(url)
            .then(response => response.json())
            .then(response => {
              this.region = response
            })
            .catch(error => console.error(error));
        }
      }
    })

    app.generateRegion()
  </script>
</body>

</html>
